// color Primary
$colorBlue: hsl(223, 87%, 63%);

//color Secondary
$colorPaleBlue: hsl(223, 100%, 88%);
$colorLightRed: hsl(354, 100%, 66%);
$colorLightGreen: hsl(103, 63%, 49%);

// color Neutral
$colorGray: hsl(0, 0%, 59%);
$colorVeryDarkBlue: hsl(209, 33%, 12%);

// Typography
$typFontsize: 20px;

$typFontFamily: "Libre Franklin", sans-serif; //[Libre Franklin](https://fonts.google.com/specimen/Libre+Franklin)
$typWeightLight: 300;
$typWeightSemiBold: 600;
$typWeightBold: 700;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: $typFontFamily;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $colorVeryDarkBlue;
    font-size: $typFontsize;
}

#container {
    width: 375px;
    padding: 90px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    #hero {
        width: 17%;
        img {
            width: 100%;
        }
    }

    #title {
        width: 75%;
        margin: 35px 0px 0px 0px;
        font-size: 1.3em;
        font-weight: 300;
        color: $colorGray;

        strong {
            font-weight: $typWeightSemiBold;
            color: $colorVeryDarkBlue;
            font-weight: $typWeightBold;
        }
    }

    #subscribe {
        width: 75%;
        margin-top: 30px;
        font-size: 0.7em;
        text-align: center;
    }

    #form {
        width: 75%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #inputEmail {
            width: 100%;
            height: 45px;
            border-radius: 30px;
            border: 1px solid $colorPaleBlue;
            text-align: left;
            padding-left: 35px;
            color: $colorGray;
            font-size: 0.7em;
        }
        #inputEmail:focus {
            border: none;
            outline: 1px solid $colorBlue;
        }

        .message {
            width: 100%;
            margin-top: 10px;
            text-align: center;
            font-size: 0.6em;
            display: none;
        }
        #errorMsg {
            color: $colorLightRed;
        }
        #successMsg {
            color: $colorLightGreen;
        }

        #submit {
            width: 100%;
            height: 45px;
            margin-top: 30px;
            border-radius: 30px;
            border: none;
            background-color: $colorBlue;
            color: white;
            text-align: center;
            font-size: 0.7em;
            font-weight: $typWeightSemiBold;
        }
        #submit:hover {
            cursor: pointer;
            background-color: #4273f2;
            // box-shadow: 2px 2px 5px $colorGray;
        }
        #submit:active {
            font-size: 0.65em;
        }
    } //fin form

    #ilustration {
        width: 85%;
        margin-top: 35px;

        img {
            width: 100%;
        }
    }

    #social {
        width: 35%;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            border: 1px solid $colorGray;

            img {
                width: 50%;
            }
        }
        .icon:hover {
            cursor: pointer;
        }
        .icon:active {
            img {
                width: 52%;
            }
        }
    } //fin social

    #copy {
        margin-top: 30px;
        text-align: center;
        font-size: 0.6em;
        color: $colorGray;
    }
} //fin container

.attribution {
    font-size: 11px;
    text-align: center;
    color: $colorBlue;

    a {
        color: white;
        text-decoration: none;
    }
} //fin attribution

@media (min-width: 650px) {
    body {
        background-color: white;
    }
    #container {
        width: 650px;

        #hero {
            width: 15%;
        }

        #title {
            width: 100%;
            margin: 45px 0px 0px 0px;
            text-align: center;
            font-size: 2.5em;
        }

        #subscribe {
            width: 100%;
            font-size: 1em;
            margin-top: 20px;
        }

        #form {
            width: 100%;
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            #inputAndMsg {
                width: 65%;

                #inputEmail {
                    width: 100%;
                    height: 45px;

                    padding-left: 35px;
                    color: $colorGray;
                    font-size: 0.8em;
                }
                .message {
                    text-align: left;
                    font-size: 0.7em;
                    display: none;
                }
            }

            #submit {
                width: 32%;
                height: 45px;
                margin-top: 0px;
                font-size: 0.8em;
            }
            #submit:active {
                font-size: 0.7em;
            }
        } //fin form

        #ilustration {
            width: 100%;
            margin-top: 70px;
        }

        #copy {
            margin-top: 30px;
            text-align: center;
            font-size: 0.6em;
            color: $colorGray;
        }
    } //fin container

    .attribution {
        font-size: 11px;
        text-align: center;
        color: $colorGray;

        a {
            color: $colorBlue;
        }
    } //fin attribution
}
